<div class="row mt-5">
  <div class="col-md-5 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-info" style="color:white">Login</button>
          <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
        </div>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>